<% provide(:title, "About") %>

<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | The my_blog project</title>
  </head>

  <body>
    <h1>My_blog project</h1>
  </body>
  <p>
    This is a my_blog project, a simple blog with basic blogging functions.
  </p>
</html>