<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | The my_blog project</title>
</head>
<body>
<h1>Help</h1>
<p>
  If you need any help, simply contact a moderator or the administrator.
</p>
</body>
</html>