<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Post new blogpost !", postnew_path, class: "btn btn-lg btn-primary" %>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the my_blog project</h1>

    <h2>
      This is the home page for the my_blog project
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>