<li id="blog_post-<%= blog_post.id %>">
  <span class="user"><%= link_to blog_post.user.name, blog_post.user %></span>
  <span class="title"><%= blog_post.title %></span>
  <span class="tags">Tags :<%= blog_post.tags %></span>
  <span class="summary">Summary : <%= blog_post.summary %></span>
  <span class="body"><%= blog_post.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(blog_post.created_at) %> ago
  </span>
  <% if current_user?(blog_post.user) %>
    <%= link_to "delete", blog_post, method: :delete,
                data: { confirm: "You sure?" } %>
  <% end %>
</li>