<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="blog_posts_form">
        <%= render 'shared/blog_post_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="row">
    Your must be logged in to post content !
  </div>
<% end %>