<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user.moderator %>
          <div>
            This user is a moderator.
          </div>
          <% end %>
        <% if @user.writer %>
          <div>
          This user can write blog_post !
          </div>
          <% end %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.blog_posts.any? %>
      <h3>Blog_posts (<%= @user.blog_posts.count %>)</h3>
      <ol class="blog_posts">
        <%= render @blog_posts %>
      </ol>
      <%= will_paginate @blog_posts %>
      <% end %>
  </div>
</div>