<%= form_for(@blog_post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% array = Array.new %>
  <% @categories.each do |i| %>
    <% array.push i.name %>
  <% end %>
  <%puts array %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :category %>
  <%= f.select :category, @categories.collect {|p| [p.name, p]}%>

  <%= f.label :tags %>
  <%= f.text_field :tags, class: 'form-control' %>

  <%= f.label :summary %>
  <%= f.text_field :summary, class: 'form-control' %>

  <%= f.label :body, "Content" %>
  <%= f.text_area :body, class: 'form-control', :rows => 15, :cols => 20 %>

  <%= f.submit "Post it !", class: "btn btn-primary" %>
<% end %>