<% provide(:title, @category.name) %>
<div class="row">
  <div class="col-md-8">
    <h3>Blog_posts (<%= @category.blog_posts.count %>)</h3>
    <% if @category.blog_posts.any? %>
      <ol class="blog_posts">
        <%= render @blog_posts %>
      </ol>
      <%= will_paginate @blog_posts %>
    <% else %>
      There is nothing to display.
    <% end %>
  </div>
</div>